<ul class="nav navbar-nav">
  <li class="{% if active_tab == 'home' %}active{% endif %}"> <a href="/dashboard/home"> <i class="fa fa-home"></i> Home </a> </li>
  <li class="{% if active_tab == 'survey_completed' %}active{% endif %}"> <a href="/dashboard/survey_completed_strata"> <i class="fa fa-check"></i> Surveys Completed </a> </li>
  <li class="{% if active_tab == 'fieldwork' %}active{% endif %}"> <a href="/dashboard/fieldwork"> <i class="fa fa-map-marker"></i> Fieldwork </a> </li>
  <li class="dropdown{% if active_tab == 'inspect_data' %} active{% endif %}"> <a href="#" class="dropdown-toggle" role="button" aria-expanded="false">
      <i class="fa fa-search"></i> Inspect Data <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a class="navbar-dropdown-link" href="/dashboard/age_distribution">Age Distribution</a>
      </li>
      <li>
        <a class="navbar-dropdown-link" href="/dashboard/missing_data">Missing Data</a>
      </li>
      <li>
        <a class="navbar-dropdown-link" href="/dashboard/data_quality">Data Quality</a>
      </li>
      <li>
        <a class="navbar-dropdown-link" href="/dashboard/time_of_data_collection">Time of Collection</a>
      </li>
    </ul>
  </li>
  <li class="{% if active_tab == 'personnel' %}active{% endif %}"> <a href="/dashboard/personnel"> <i class="fa fa-user"></i> Personnel </a> </li>
  <li class="{% if active_tab == 'training' %}active{% endif %}"> <a href="/training/rooms/"> <i class="fa fa-university"></i> Training </a> </li>
</ul>
