<link rel="stylesheet" href="/static/css/age_distribution.css">
<div class="selection_choices">
  <select id="age_distribution_teams" name="age_distribution_teams">
    <option value="-1" selected="selected">All teams</option>
  </select>
  <select id="age_distribution_states" name="age_distribution_states">
    <option value="All states" selected="selected">All states</option>
  </select>
</div>
<div id="age_distribution_children" class="content_block big_content_block"></div>
<div id="age_distribution_household_members" class="content_block big_content_block">
    <h1>Age distribution household members</h1>
    <div id="age_distribution_household_members_chart" class="chart"></div>
</div>
<script src="/static/js/cluster_info.js"></script>
<script src="/static/js/age_distribution.js"></script>
