{% extends "dashboard/index.html" %}
{% block content %}
<div class="page-header">
    <div class="selection_choices">
      <select id="age_distribution_teams" name="age_distribution_teams">
        <option value="-1" selected="selected">All teams</option>
      </select>
      <select id="age_distribution_states" name="age_distribution_states">
        <option value="All states" selected="selected">All states</option>
      </select>
    </div>
    <h1>Age Distribution</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default" id="age_distribution_children">
            <div class="panel-heading">Age distribution of children in months <button id="age_distribution_children_download" class="btn btn-default">Download</button></div>
            <div class="panel-body chart" id="age_distribution_children_chart">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default" id="age_distribution_household_members">
            <div class="panel-heading">Age distribution of household members in years <button id="age_distribution_households_download" class="btn btn-default">Download</button></div>
            <div class="panel-body chart" id="age_distribution_household_members_chart">
            </div>
        </div>
    </div>
</div>
<script src="/static/js/cluster_info.js"></script>
<script src="/static/js/age_distribution.js"></script>
{% endblock content %}
