{% extends "dashboard/base.html" %}
{% block tabs %}{% include 'dashboard/_tabs.html' with active_tab='inspect_data' %}{% endblock %}
{% block content %}
<div class="page-header">
    {% include 'dashboard/_team_strata_selector.html' %}
    <h1>Child Anthropometry</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div id="child_anthropometry_chart" class="panel panel-default">
            <div class="panel-heading">Graphs</div>
            <div class="panel-body">
                <div id="child_anthropometry_chart_tabs" role="tabpanel">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" id="child_anthropometry_chart_tabs_WHZ_tab" href="#child_anthropometry_chart_tabs_WHZ">WHZ</a>
                        </li>
                        <li><a data-toggle="tab" id="child_anthropometry_chart_tabs_HAZ_tab" href="#child_anthropometry_chart_tabs_HAZ">HAZ</a>
                        </li>
                        <li><a data-toggle="tab" id="child_anthropometry_chart_tabs_WAZ_tab" href="#child_anthropometry_chart_tabs_WAZ">WAZ</a>
                        </li>
                        <li><a data-toggle="tab" id="child_anthropometry_chart_tabs_MUAC_tab" href="#child_anthropometry_chart_tabs_MUAC">MUAC</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="child_anthropometry_chart_tabs_WHZ">
                            <div id="child_anthropometry_whz_chart" class="chart"></div>
                        </div>
                        <div role="tabpanel" id="child_anthropometry_chart_tabs_HAZ">
                            <div id="child_anthropometry_haz_chart" class="chart"></div>
                        </div>
                        <div role="tabpanel" id="child_anthropometry_chart_tabs_WAZ">
                            <div id="child_anthropometry_waz_chart" class="chart"></div>
                        </div>
                        <div role="tabpanel" id="child_anthropometry_chart_tabs_MUAC">
                            <div id="child_anthropometry_muac_chart" class="chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="child_anthropometry_info" class="panel panel-default">
            <table id="child_anthropometry_table" class="table table-panel">
                <thead>
                    <tr>
                        <th>Statistics</th>
                        <th>Missing</th>
                        <th>Flagged</th>
                        <th>Total</th>
                        <th>N</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Weight-for-Height</td>
                        <td><span id="whz_missing"></span>%</td>
                        <td><span id="whz_flagged"></span>%</td>
                        <td><span id="whz_total"></span>%</td>
                        <td><span id="whz_n"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Height-for-Age</td>
                        <td><span id="haz_missing"></span>%</td>
                        <td><span id="haz_flagged"></span>%</td>
                        <td><span id="haz_total"></span>%</td>
                        <td><span id="haz_n"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Weight-for-Age</td>
                        <td><span id="waz_missing"></span>%</td>
                        <td><span id="waz_flagged"></span>%</td>
                        <td><span id="waz_total"></span>%</td>
                        <td><span id="waz_n"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Mid-Upper Arm Circumference</td>
                        <td><span id="muac_missing"></span>%</td>
                        <td><span id="muac_flagged"></span>%</td>
                        <td><span id="muac_total"></span>%</td>
                        <td><span id="muac_n"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul id="child_anthropometry_value_list" class="description_list">
                <li>
                    <span class="item">Sex ratio (m/f):</span>
                    <span class="description" id="child_anthropometry_sex_ratio"></span>
                </li>
                <li>
                    <span class="item">Age ratio (0-29/30-59 months):</span>
                    <span class="description" id="child_anthropometry_age_ratio"></span>
                </li>
                <li>
                    <span class="item">DPS - weight:</span>
                    <span class="description" id="child_anthropometry_ldps_weight"></span>
                </li>
                <li>
                    <span class="item">DPS - height:</span>
                    <span class="description" id="child_anthropometry_ldps_height"></span>
                </li>
                <li>
                    <span class="item">DPS - MUAC:</span>
                    <span class="description" id="child_anthropometry_ldps_muac"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="/static/js/cluster_info.js"></script>
<script src="/static/js/lib/probability.js"></script>
<script src="/static/js/lib/kde.js"></script>
<script src="/static/js/lib/ldps.js"></script>
<script src="/static/js/team_strata_selector.js"></script>
<script src="/static/js/child_anthropometry.js"></script>
{% endblock %}
