<link rel="stylesheet" href="/static/css/data_quality.css">
<div class="selection_choices">
  <select id="data_quality_teams" name="data_quality_teams">
    <option value="-1" selected="selected">All teams</option>
  </select>
  <select id="data_quality_states" name="data_quality_states">
    <option value="All states" selected="selected">All states</option>
  </select>
</div>
<div id="data_quality_chart" class="content_block big_content_block">
    <h1>Data quality: Child anthropometry</h1>
    <div id="data_quality_chart_tabs" role="tabpanel">
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" id="data_quality_chart_tabs_WHZ_tab" href="#data_quality_chart_tabs_WHZ">Weight-for-Height</a></li>
            <li><a data-toggle="tab" id="data_quality_chart_tabs_HAZ_tab" href="#data_quality_chart_tabs_HAZ">Height-for-Age</a></li>
            <li><a data-toggle="tab" id="data_quality_chart_tabs_WAZ_tab" href="#data_quality_chart_tabs_WAZ">Weight-for-Age</a></li>
            <li><a data-toggle="tab" id="data_quality_chart_tabs_MUAC_tab" href="#data_quality_chart_tabs_MUAC">Mid-Upper Arm Cir.</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="data_quality_chart_tabs_WHZ">
                <div id="data_quality_whz_chart" class="chart"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="data_quality_chart_tabs_HAZ">
                <div id="data_quality_haz_chart" class="chart"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="data_quality_chart_tabs_WAZ">
                <div id="data_quality_waz_chart" class="chart"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="data_quality_chart_tabs_MUAC">
                <div id="data_quality_muac_chart" class="chart"></div>
            </div>
        </div>
    </div>
</div>
<div id="data_quality_info" class="content_block big_content_block">
    <h1>Data quality: Child anthropometry</h1>
    <table id="data_quality_table">
        <thead>
            <tr>
                <th></th>
                <th>Missing</th>
                <th>Flagged</th>
                <th>Total</th>
                <th>N</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Weight-for-Height</td>
                <td><span id="whz_missing"></span>%</td>
                <td><span id="whz_flagged"></span>%</td>
                <td><span id="whz_total"></span>%</td>
                <td><span id="whz_n"></span></td>
            </tr>
            <tr>
                <td>Height-for-Age</td>
                <td><span id="haz_missing"></span>%</td>
                <td><span id="haz_flagged"></span>%</td>
                <td><span id="haz_total"></span>%</td>
                <td><span id="haz_n"></span></td>
            </tr>
            <tr>
                <td>Weight-for-Age</td>
                <td><span id="waz_missing"></span>%</td>
                <td><span id="waz_flagged"></span>%</td>
                <td><span id="waz_total"></span>%</td>
                <td><span id="waz_n"></span></td>
            </tr>
            <tr>
                <td>Mid-Upper Arm Circumference</td>
                <td><span id="muac_missing"></span>%</td>
                <td><span id="muac_flagged"></span>%</td>
                <td><span id="muac_total"></span>%</td>
                <td><span id="muac_n"></span></td>
            </tr>
        </tbody>
    </table>

    <ul id="data_quality_value_list" class="description_list">
        <li><span class="item">Gender ratio (m/f):</span><span class="description" id="data_quality_gender_ratio"></span></li>
        <li><span class="item">Age ratio (0-29/30-59 months):</span><span class="description" id="data_quality_age_ratio"></span></li>
    </ul>

</div>
<script src="/static/js/cluster_info.js"></script>
<script src="/static/js/lib/probability.js"></script>
<script src="/static/js/lib/kde.js"></script>
<!--script src="/static/js/lib/digit_preference_score.js"></script-->
<script src="/static/js/data_quality.js"></script>
