<link rel="stylesheet" href="/static/css/home.css">
<div class="page-header">
    <h1>Home</h1>
</div>

<div class="row">

	<div class="col-md-8">
	    <div class="panel panel-default">
	        <div class="panel-heading"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Survey Map</div>
	        <div class="panel-body">
	            <div id="home_map" class="map"></div>
	        </div>
	    </div>
	</div>
	<div class="col-md-4">
	    <div class="panel panel-default">
	        <div class="panel-heading"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> Alerts</div>
	        <div class="panel-body">
	            <div id="home_alerts">
	                <ul id="home_alerts_list"></ul>
                  <button id="home_alerts_download" class="btn btn-primary pull-right">Download</button>
	            </div>
	        </div>
	    </div>
	    <div  id="home_last_contact" class="panel panel-default">
	        <div class="panel-heading"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> Last Contacted Teams</div>
	        <div class="panel-body">
	            <ul id="home_last_contact_list"></ul>
              <button id="home_lastcontact_download" class="btn btn-primary pull-right">Download</button>
	        </div>
	    </div>
	</div>

</div>

<script src="/static/js/home.js"></script>
