{% extends "dashboard/base.html" %}
{% block tabs %}{% include 'dashboard/_tabs.html' with active_tab='home' %}{% endblock %}
{% block content %}
<div class="page-header">
    <h1><i class="fa fa-home"></i> Home</h1>
</div>

<div class="row">
	<div class="col-md-8">
	    <div class="panel panel-default">
	       	<div class="panel-heading"><i class="fa fa-bell"></i> Alerts</div>
	        <div class="panel-body">
	            <div id="home_alerts_list">
                    <input type="text" class="search" placeholder="Search title or team">
                    <select id="home_alerts_filter_type"></select>
                    <div class="list"></div>
                    <ul class="pagination pull-left"></ul>
    				<button id="home_alerts_download" class="btn btn-success pull-right">
    					<i class="fa fa-download"></i> Download
    				</button>
                </div>

	        </div>
	    </div>
	</div>
	<div class="col-md-4">
	    <div class="panel panel-default">
	        <div class="panel-heading"><i class="fa fa-map-marker"></i> Survey Map</div>
	        <div class="panel-body">
	            <div id="home_map" class="map"></div>
	        </div>
	    </div>
	    <div  id="home_last_contact" class="panel panel-default">
	        <div class="panel-heading"><i class="fa fa-comment"></i> Last Contacted Teams</div>
	        <div class="panel-body">
	            <ul id="home_last_contact_list"></ul>
              <button id="home_lastcontact_download" class="btn btn-primary pull-right">Download</button>
	        </div>
	    </div>
	</div>
</div>

<div class="modal fade" id="contact-team-modal" tabindex="-1" role="dialog" aria-labelledby="contact-team-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">Contact Team</h4>
            </div>
            <div class="modal-body">
                <p><strong>Team</strong>: <span class="team-name"></span></p>
                <p><strong>Team ID:</strong>: <span class="team-id"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-exclamation-circle"></i> Not Contacted
                </button>
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    <i class="fa fa-check"></i> Mark as Contacted
                </button>
            </div>
        </div>
    </div>
</div>

<script id="home-alert-item" type="text/template">
    <div class="row alert-item">
        <div class="col-sm-1 text-right">
            <i class="alert-icon fa <%= icon %>"></i>
        </div>
        <div class="alert-name col-sm-7">
            <h3 class="alert-title"><%= title %></h3>
            <span class="alert-details">
                <strong><%= team_name %></strong>
                on <%= created %>
            </span>
        </div>
        <div class="alert-actions col-sm-4 text-right">
            <% if (type === 'mapping_check_unknown_cluster' && location !== undefined) { %>
            <a href="<%= url %>" data-geo="<%= location[0] + ',' + location[1] %>" class="alert-action btn btn-primary btn-sm">View Map</a>
            <% } else { %>
            <a href="<%= url %>" class="alert-action btn btn-primary btn-sm">View Details</a>
            <% } %>
            <button type="button" class="btn btn-primary btn-sm"
                    data-toggle="modal"
                    data-target="#contact-team-modal"
                    data-team="<%= team_name %>"
                    data-team_id="<%= team_id %>">
                Contact Team
            </button>
        </div>
    </div>
</script>


<script src="/static/js/home.js"></script>
{% endblock content %}
