{% extends "dashboard/base.html" %}
{% block tabs %}{% include 'dashboard/_tabs.html' with active_tab='home' %}{% endblock %}
{% block content %}
<div class="page-header">
    <h1><i class="fa fa-home"></i> Home</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-map-marker"></i> Survey Map</div>
    <div class="panel-body">
        <div id="home_map" class="map"></div>
    </div>
</div>

<div class="modal fade" id="contact-team-modal" tabindex="-1" role="dialog" aria-labelledby="contact-team-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="exampleModalLabel">
                    <i class="fa fa-comment"></i> Contact Team
                </h3>
            </div>
            <div class="modal-body">
                <ul class="contact-team-list list-group"></ul>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-exclamation-circle"></i> Not Contacted
                </button>
                <button type="button" class="btn btn-success pull-right" id="btn-contact-team-contacted"
                        data-dismiss="modal"
                        href="">
                    <i class="fa fa-check"></i> Mark as Contacted
                </button>
            </div>
        </div>
    </div>
</div>

<script id="home-alert-item" type="text/template">
    <div class="row alert-item" id="alert-item-<%= id %>">
        <span class="alert_type" style="display:none;"><%= type %></span>
        <div class="col-sm-1 text-right">
            <i class="alert-icon fa <%= icon %>"></i>
        </div>
        <div class="alert-name col-sm-7">
            <h3 class="alert_title"><%= title %></h3>
            <span class="alert-details">
                <strong class="alert_team_name"><%  if (teamLead) { %><%= teamLead.id %><% } %></strong>
                on <%= created %>
            </span>
        </div>
        <div class="alert-actions col-sm-4 text-right">
            <% if (type === 'mapping_check_unknown_cluster' && location !== undefined) { %>
            <a href="<%= url %>" data-geo="<%= location[0] + ',' + location[1] %>" class="alert-action btn btn-primary btn-sm">View Map</a>
            <% } else { %>
            <a href="<%= url %>" class="alert-action btn btn-primary btn-sm">View Details</a>
            <% } %>
            <button type="button" class="btn btn-primary btn-sm"
                    data-toggle="modal"
                    data-target="#contact-team-modal"
                    data-id="<%= id %>">
                Contact Team
            </button>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12"><hr class="alert-line"></div>
    </div>
</script>

<script id="contact-team-item" type="text/template">
    <li class="list-group-item">
        <div class="clearfix">
            <strong class="remove-top remove-bottom pull-left"><%= id %></strong>
            <em class="pull-right">Team ID</em>
        </div>
        <%= gender %>, <%= (moment().format('YYYY') - birthYear) %> yrs<br>
        <% if (mobile) { %>Mobile: <%= mobile %><br><% } %>
        <% if (email) { %>Email: <a href="mailto:<%= email %>"><%= email %></a><% } %>
    </li>
</script>

<script id="home-last-contacted-item" type="text/template">
    <li>
        <h4 class="remove-bottom">Team <%- teamNo %> on <%= moment(time).format('MMM Do YYYY') %></h4>
        <span class="last-contacted-details"> <%- teamName %></span>
    </li>
</script>

<script src="/static/js/home.js"></script>
{% endblock content %}
