<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NutSurv dashboard</title>
  <link rel="icon" href="/static/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Nunito:300|Yanone+Kaffeesatz:700' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/cupertino/jquery-ui.css" />
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href=//cdn.datatables.net/responsive/1.0.2/css/dataTables.responsive.css />
  <link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/leaflet.fullscreen.css' rel='stylesheet' />
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/Leaflet.fullscreen.min.js'></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
  <script src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
  <script src="//cdn.datatables.net/responsive/1.0.2/js/dataTables.responsive.js"></script>
  <script src="/static/js/data_getter.js"></script>
  <script src="/static/js/map.js"></script>
  <script src="/static/js/index.js"></script>
</head>
<body>

<div id="tabs">
  <ul>
    <li><a href="/dashboard/home">NutSurv home</a></li>
    <li><a href="/dashboard/survey_completed">Survey work completed</a></li>
    <li><a href="/dashboard/mapping_checks">Mapping checks</a></li>
    <li><a href="/dashboard/age_distribution">Age distribution</a></li>
    <li><a href="/dashboard/missing_data">Missing data</a></li>
    <li><a href="/dashboard/data_quality">Data quality</a></li>
    <li><a href="/dashboard/time_of_data_collection">Time of data collection</a></li>
    <li><a href="/dashboard/personell">Personell</a></li>
    <li id="last_update_li"><button id="last_update"></button></li>
  </ul>
</div>

<a href="/accounts/logout" class="bottom_link">Logout</a>
</body>
</html>
