<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NutSurv dashboard</title>

    <link rel="icon" href="/static/favicon.ico">

    <link rel="stylesheet" href="/static/bower_components/ehealth-bootstrap/0.1/bootstrap.css" />
    <link rel="stylesheet" href="/static/bower_components/ehealth-bootstrap/0.1/bootstrap-ehealth.css" />

    <link rel="stylesheet" href="/static/bower_components/bootstrap-select/dist/css/bootstrap-select.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/bower_components/datatables/media/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="/static/bower_components/datatables-bootstrap3-plugin/media/css/datatables-bootstrap3.css" />
    <link rel="stylesheet" href="/static/bower_components/datatables-responsive//css/dataTables.responsive.css" />
    <link rel="stylesheet" href="/static/bower_components/datatables-tabletools/css/dataTables.tableTools.css" />
    <link rel="stylesheet" href="/static/css/leaflet.fullscreen.css" />

    <script src="/static/bower_components/leaflet/dist/leaflet.js"></script>
    <script src="/static/js/lib/Leaflet.fullscreen.min.js"></script>
    <script src="/static/bower_components/jquery/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bower_components/bootstrap/js/dropdown.js"></script>
    <script src="/static/js/lib/FileSaver.min.js"></script>
    <script src="/static/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/static/bower_components/lodash/lodash.js"></script>
    <script src="/static/bower_components/jquery-flot/jquery.flot.js"></script>
    <script src="/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/static/bower_components/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="/static/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
    <script src="/static/bower_components/datatables-bootstrap3-plugin/media/js/datatables-bootstrap3.js"></script>

    <script src="/static/js/lib/tab.js"></script>
    <script src="/static/js/data_getter.js"></script>
    <script src="/static/js/map.js"></script>
    <script src="/static/js/index.js"></script>
</head>

<body>

  <div class="wrapper">

    <nav class="navbar navbar-dashboard navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img class="pull-left" src="/static/bower_components/ehealth-bootstrap/images/app-navbar-nutrition-dashboard.png"> NutSurv
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a data-target="#tab_home" data-toggle="tab" href="/dashboard/home">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
              </a>
            </li>
            <li>
              <a data-target="#tab_survey_completed" data-toggle="tab" href="/dashboard/survey_completed">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Surveys Completed
              </a>
            </li>
            <li>
              <a data-target="#tab_mapping_checks" data-toggle="tab" href="/dashboard/mapping_checks">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Mapping Checks
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Inspect Data <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a class="navbar-dropdown-link" data-target="#tab_age_distribution" data-toggle="tab" href="/dashboard/age_distribution">Age Distribution</a>
                </li>
                <li>
                  <a class="navbar-dropdown-link" data-target="#tab_missing_data" data-toggle="tab" href="/dashboard/missing_data">Missing Data</a>
                </li>
                <li>
                  <a class="navbar-dropdown-link" data-target="#tab_data_quality" data-toggle="tab" href="/dashboard/data_quality">Data Quality</a>
                </li>
                <li>
                  <a class="navbar-dropdown-link" data-target="#tab_time_of_data_collection" data-toggle="tab" href="/dashboard/time_of_data_collection">Time of Collection</a>
                </li>
              </ul>
            </li>
            <li>
              <a data-target="#tab_personnel" data-toggle="tab" href="/dashboard/personnel">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Personnel
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="last_update_li">
              <a id="last_update" href="#">
                  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> <span class="button_label"></span>
              </a>
            </li>
            <li>
                <a href="/accounts/logout/">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout
                </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div id="tabs" role="tabpanel ">

          <!-- Tab panes -->
          <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="tab_home"></div>
              <div role="tabpanel" class="tab-pane" id="tab_survey_completed"></div>
              <div role="tabpanel" class="tab-pane" id="tab_mapping_checks"></div>
              <div role="tabpanel" class="tab-pane" id="tab_age_distribution"></div>
              <div role="tabpanel" class="tab-pane" id="tab_missing_data"></div>
              <div role="tabpanel" class="tab-pane" id="tab_data_quality"></div>
              <div role="tabpanel" class="tab-pane" id="tab_time_of_data_collection"></div>
              <div role="tabpanel" class="tab-pane" id="tab_personnel"></div>
          </div>
      </div>

    </div>

  </div>
</body>

</html>
