<link rel="stylesheet" href="/static/css/mapping_checks.css">
<div class="page-header">
    <h1>Mapping checks</h1>
</div>
<div class="panel panel-default content_block extra_big_content_block">
    <div class="panel-heading">Mapping checks</div>
    <div class="panel-body" id="mapping_checks_map">
    </div>
</div>
<div class="panel panel-default content_block small_content_block">
    <div class="panel-heading">Alerts</div>
    <div class="panel-body" id="mapping_checks_alerts">
        <ul id="mapping_checks_alerts_list"></ul>
    </div>
</div>
<script src="/static/js/mapping_checks.js"></script>
