<link rel="stylesheet" href="/static/css/mapping_checks.css">
<div class="page-header">
    <h1>Mapping checks</h1>
</div>
<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">Mapping checks</div>
        <div class="panel-body">
            <div id="mapping_checks_map" class="map"></div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Alerts</div>
        <div class="panel-body" id="mapping_checks_alerts">
            <ul id="mapping_checks_alerts_list"></ul>
        </div>
    </div>
</div>
<script src="/static/js/mapping_checks.js"></script>
