<link rel="stylesheet" href="/static/css/missing_data.css">
<div class="selection_choices">
  <select id="missing_data_teams" name="missing_data_teams">
    <option value="-1" selected="selected">All teams</option>
  </select>
  <select id="missing_data_states" name="missing_data_states">
    <option value="All states" selected="selected">All states</option>
  </select>
</div>
<div id="missing_data_children" class="content_block big_content_block">
    <h1>Data missing for child surveys</h1>
    <ul id="missing_data_children_list" class="description_list"></ul>
</div>
<div id="missing_data_women" class="content_block big_content_block">
    <h1>Data missing for women surveys</h1>
    <ul id="missing_data_women_list" class="description_list"></ul>
</div>
<script src="/static/js/cluster_info.js"></script>
<script src="/static/js/missing_data.js"></script>
