{% extends "dashboard/base.html" %}
{% block tabs %}{% include 'dashboard/_tabs.html' with active_tab='inspect_data' %}{% endblock %}
{% block content %}
<div class="page-header">
    <div class="selection_choices">
      <select id="missing_data_teams" name="missing_data_teams">
        <option value="-1" selected="selected">All teams</option>
      </select>
      <select id="missing_data_states" name="missing_data_states">
        <option value="All states" selected="selected">All states</option>
      </select>
    </div>
    <h1>Missing Data</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div id="missing_data_children" class="panel panel-default">
            <div class="panel-heading">Data missing for child surveys</div>
            <div class="panel-body">
                <ul id="missing_data_children_list" class="description_list"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="missing_data_women" class="panel panel-default">
            <div class="panel-heading">Data missing for women surveys</div>
            <div class="panel-body">
                <ul id="missing_data_women_list" class="description_list"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="missing_data_household_members" class="panel panel-default">
            <div class="panel-heading">Data missing for household members</div>
            <div class="panel-body">
                <ul id="missing_data_household_members_list" class="description_list"></ul>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/cluster_info.js"></script>
<script src="/static/js/missing_data.js"></script>
<script src="/static/js/lib/parseQSL.js"></script>
{% endblock content %}
