{% extends "dashboard/base.html" %}
{% load nutsurv_util %}
{% block tabs %}{% include 'dashboard/_tabs.html' with active_tab='inspect_data' %}{% endblock %}
{% block content %}
<div class="page-header">
    <div class="selection_choices">
      <select id="team_lead_selector" name="team_lead_selector">
        <option value="" selected="selected">All team leads</option>
      </select>
      <select id="strata_selector" name="strata_selector">
        <option value="" selected="selected">All strata</option>
      </select>
    </div>
    <h1>Missing Data</h1>
</div>
<div class="row">

    {% for member_type, data in existing_data.items %}
    <div class="col-md-6">
        <div id="missing_data_{{ member_type }}" class="panel panel-default">
            <div class="panel-heading">Data missing for {{ member_type|underscores_to_spaces }} surveys</div>
            <div class="panel-body">
                <ul id="missing_data_{{ member_type }}_list" class="description_list">
                    {% for field_name, field_data in data.items %}
                    <li>
                        <span class="item">{{ field_name|capfirst }}:</span>
                        <span class="description">{{ field_data.existing|as_inverse_percentage_of:field_data.total }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
<script src="/static/js/team_strata_selector.js"></script>
{% endblock content %}
