{% extends "dashboard/base.html" %}
{% block tabs %}{% include 'dashboard/_tabs.html' with active_tab='personnel' %}{% endblock %}
{% block content %}
<div id="personnel">
    <table id="personnel_table" class="table">
        <thead>
            <tr>
                <th class="border_left" data-column-name="gender">Gender</th>
                <th class="border_left" data-column-name="name">Name</th>
                <th class="border_left" data-column-name="id">ID</th>
                <th class="border_left" data-column-name="contact">Contact</th>
                <th class="border_left" data-column-name="position">Last seen</th>
                <th class="border_left" data-column-name="cluster">Cluster</th>
                <th data-column-name="first_admin_level">1st</th>
                <th data-column-name="second_admin_level">2nd</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<script id="template-personnel-header" type="text/template">
  <div class="page-header">
    <h1><i class="fa fa-user"></i> Personnel</h1>
    <button class="btn btn-default dataTables_extra_button">Download</button>
  </div>
</script>

<script src="/static/js/cluster_info.js"></script>
<script src="/static/js/personnel.js"></script>
{% endblock content %}
