{% extends "dashboard/base.html" %}
{% block tabs %}{% include 'dashboard/_tabs.html' with active_tab='personnel' %}{% endblock %}
{% block content %}
<div id="personnel">
    <table id="personnel_table" class="table">
        <thead>
            <tr>
                <th class="border_left" data-column-name="name">Name</th>
                <th class="border_left" data-column-name="id">ID</th>
                <th class="border_left" data-column-name="contact">Contact</th>
                <th data-column-name="position">Last Seen</th>
                <th data-column-name="location">Location</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<script id="template-personnel-header" type="text/template">
  <div class="page-header">
    <h1><i class="fa fa-user"></i> Personnel</h1>
    <button id="personnel_download" class="btn btn-default dataTables_extra_button">Download</button>
  </div>
</script>

<script id="template-personnel-details" type="text/template">
    <strong>Household:</strong> <%= householdNumber %> persons<br>
    <strong>Started:</strong> <%= moment(startTime.split('T')[0] + ' ' + startTime.split('T')[1].split('.')[0]).format('MMM D, YYYY h:mm a') %><br>
    <strong>Ended:</strong>  <%= moment(endTime.split('T')[0] + ' ' + endTime.split('T')[1].split('.')[0]).format('MMM D, YYYY h:mm a') %>
    <hr>

    <h4><i class="fa fa-map-marker"></i> Location</h4>
    <strong>1st Admin Level:</strong> <%= firstAdminLevel %><br>
    <strong>2nd Admin Level:</strong> <%= secondAdminLevel %><br>
    <strong>Cluster:</strong> <%= cluster %><br>
    <strong>Cluster #:</strong> <%= clusterName %><br>
    <% if (location) { %>
    <p>Has location data should show a map</p>
    <% } else { %>
    <p>No geo-data recorded</p>
    <% } %>
</script>

<div class="modal fade" id="personnel-modal" tabindex="-1" role="dialog" aria-labelledby="personnel-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div> 


<script src="/static/js/cluster_info.js"></script>
<script src="/static/js/personnel.js"></script>
{% endblock content %}
