<link rel="stylesheet" href="/static/css/personnel.css">
<div id="personnel">
    <div class="page-header">
        <h1>Personnel</h1>
    </div>
    <table id="personnel_table" class="table">
        <thead>
            <tr>
                <th></th>
                <th class="border_left" data-column-name="id">ID</th>
                <th class="border_left" data-column-name="name">Name and Surname</th>
                <th class="border_left" data-column-name="position">Position</th>
                <th class="border_left" data-column-name="age">Age</th>
                <th class="border_left" data-column-name="gender">Gender</th>
                <th class="border_left" data-column-name="phone">Phone</th>
                <th data-column-name="email">Email</th>
                <th data-column-name="date">Last seen</th>
                <th class="border_left" data-column-name="state">State</th>
                <th data-column-name="lga">LGA</th>
                <th data-column-name="cluster">Cluster</th>
                <th class="border_left" data-column-name="cluster_number">Cluster #</th>
            </tr>
        </thead>
    </table>
</div>
<script src="/static/js/cluster_info.js"></script>
<script src="/static/js/personnel.js"></script>
