{% extends "dashboard/base.html" %}
{% block content %}

<div class="page-header">
    <h1><i class="fa fa-check"></i> Surveys Completed</h1>
</div>

<div id="tabs" role="tabpanel">
  <ul id="survey_completed_tabs" class="nav nav-tabs">
    <li class="active"><a href="/dashboard/survey_completed_strata">Strata</a></li>
    <li><a href="/dashboard/survey_completed_teams">Teams</a></li>
  </ul>
</div>

<div id="survey_completed_strata_main" class="alone_block">
    <table id="survey_completed_strata_table" class="table table-panel">
        <thead>
            <tr>
                <th rowspan="2" data-column-name="stratum">Stratum</th>
                <th rowspan="2" data-column-name="households">HHs completed</th>
                <th colspan="3" class="border_left">Clusters</th>
                <th colspan="3" class="border_left">HHs per cluster</th>
                <th colspan="3" class="border_left">Members per HH</th>
                <th colspan="4" class="border_left">Women per HH</th>
                <th colspan="4" class="border_left">Children per HH</th>
            </tr>
            <tr>
                <th class="border_left" data-column-name="clusters, total" style="padding-left: 2px !important">planned</th>
                <th data-column-name="clusters, complete">completed</th>
                <th data-column-name="clusters, reserve">reserve</th>
                <th class="border_left" data-column-name="households per cluster, min">min</th>
                <th data-column-name="households per cluster, max">max</th>
                <th data-column-name="households per cluster, mean">mean</th>
                <th class="border_left" data-column-name="members, min">min</th>
                <th data-column-name="members, max">max</th>
                <th data-column-name="members, mean">mean</th>
                <th class="border_left" data-column-name="women, total">total</th>
                <th data-column-name="women, min">min</th>
                <th data-column-name="women, max">max</th>
                <th data-column-name="women, mean">mean</th>
                <th data-column-name="children, total" class="border_left">total</th>
                <th data-column-name="children, min">min</th>
                <th data-column-name="children, max">max</th>
                <th data-column-name="children, mean">mean</th>
            </tr>
        </thead>
    </table>
</div>
<script src="/static/js/cluster_info.js"></script>
<script src="/static/js/survey_completed_strata.js"></script>
{% endblock content %}
