{% extends "dashboard/index.html" %}
{% block content %}
<div id="time_of_data_collection_chart" >
    <div class="page-header">
        <div class="selection_choices">
          <select id="time_of_data_collection_teams" name="time_of_data_collection_teams" >
            <option value="-1" selected="selected">All teams</option>
          </select>
          <select id="time_of_data_collection_states" name="time_of_data_collection_states">
            <option value="All states" selected="selected">All states</option>
          </select>
        </div>
        <h1>Time of Data Collection</h1>
    </div>
    <table id="time_of_data_collection_table" class="table">
        <thead>
            <tr>
                <th rowspan="2"></th>
                <th class="border_left" rowspan="2" data-column-name="per interview, N">Number of interviews</th>
                <th colspan="3" class="border_left">Per HH interview (min)</th>
                <th class="border_left" rowspan="2" data-column-name="daily collection, N">Days of data collection</th>
                <th colspan="3" class="border_left">Daily data collection (hours)</th>
                <th colspan="3" class="border_left">Start of data collection</th>
                <th colspan="3" class="border_left">End of data collection</th>
            </tr>
            <tr>
                <th class="border_left" data-column-name="per interview, max">max</th>
                <th data-column-name="per interview, average">average</th>
                <th data-column-name="per interview, min">min</th>
                <th class="border_left" data-column-name="daily collection, max">max</th>
                <th data-column-name="daily collection, average">average</th>
                <th data-column-name="daily collection, min">min</th>
                <th class="border_left" data-column-name="daily collection start, max">max</th>
                <th data-column-name="daily collection start, average">average</th>
                <th data-column-name="daily collection start, min">min</th>
                <th class="border_left" data-column-name="daily collection end, max">max</th>
                <th data-column-name="daily collection end, average">average</th>
                <th data-column-name="daily collection end, min">min</th>
            </tr>
        </thead>
    </table>
</div>
<script src="/static/js/cluster_info.js"></script>
<script src="/static/js/time_of_data_collection.js"></script>
{% endblock content %}
