configuration.py
*.log
*.swp
*.pot
*.py[co]
*.DS_Store
*.mo
*~
*.db
db.*
*.orig
.env
.idea
*.backup
.coverage
htmlcov
venv/
/static/
nutsurv-venv/
nutsurv/configuration.py
*/bower_components
configuration.py
.sass-cache
nutsurv/components/
nutsurv/.sass-cache/
/bower_components/
/test-data/
*.pem
*.crt
