{% extends "dashboard/base.html" %}
{% block tabs %}{% include 'dashboard/_tabs.html' with active_tab='training' %}{% endblock %}
{% block content %}
<div class="page-header">
    <h1><i class="fa fa-train"></i> Training Room {{ id }}</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="tabs" role="tabpanel">
          <ul id="survey_completed_tabs" class="nav nav-tabs">
            <li id="tool_standardization"><a href="?tool_standardization">Tool standardization</a></li>
            <li id="all_data_present"><a href="?all_data_present">Data completeness</a></li>
            <li id="height" class="disabled"><a href="?height">Height</a></li>
            <li id="weight" class="disabled"><a href="?weight">Weight</a></li>
            <li id="muac" class="disabled"><a href="?muac">MUAC</a></li>
          </ul>
        </div>
        <table class="table">
            <thead>
                <tr id="tableheaders">
                    <th data-column-name="team">Team</th>
                    <th data-column-name="total_members">Total</th>
                    <th data-column-name="all_data_present">Complete</th>
                    <th data-column-name="mean">Mean</th>
                    <th data-column-name="max"><abbr title="Maximum">Max</abbr></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script src="/static/js/room_detail.js"></script>
{% endblock content %}
