{% extends "dashboard/base.html" %}
{% block tabs %}{% include 'dashboard/_tabs.html' with active_tab='training' %}{% endblock %}
{% block content %}
<div class="page-header">
    <h1><i class="fa fa-university"></i> List of training sessions</h1>
</div>

<div>
    <p>
    <form method="POST" action=".">{% csrf_token %}
      <input name="creator" type="hidden" value="{{user.id}}">
      <button type="submit" class="btn btn-primary btn-sm">
        <i class="fa fa-plus"></i> Create Training Session
      </button>
    </form>
    <p>
    <table class="table table-panel">
        <thead>
            <tr>
                <th data-column-name="household_number">Training Session number</th>
                <th data-column-name="created">Created</th>
                <th data-column-name="url"></th>
            </tr>
        </thead>
    </table>
</div>
<script src="/static/js/session_list.js"></script>
{% endblock content %}
