<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NutSurv dashboard login</title>
  <link rel="icon" href="/static/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Nunito:300|Yanone+Kaffeesatz:700' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/cupertino/jquery-ui.css" />
  <link rel="stylesheet" href="/static/css/style.css" />
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#dialog" ).dialog({
        buttons: {
            "Submit": function() {
                $('#login_form').submit();
            },
        }
    });
    $( "#submit" ).button();
  });
  </script>
</head>
<body>
    <div id="dialog" title="Login">
        <p>{{ state }}</p>
    	<form action="/accounts/login/" id="login_form" method="post">
            {% csrf_token %}
    		{% if next %}
    		      <input type="hidden" name="next" value="{{ next }}" />
    		{% endif %}
    		<label for="username">Username</label>
    		<input type="text" name="username" id="username" value="{{ username}}" /><br />
    		<label for="password">Password</label>
    		<input type="password" name="password" id="password" value="" /><br />

    	</form>
    </div>
</body>
</html>
