body {
  padding-top: 50px;
}



.leaflet-container:-webkit-full-screen{
  display: block;
}

.map, .chart {
    height: 500px;
}

div.selection_choices {
    display: inline-block;
    float:right;
}
div.alone_block {
    margin-top: 20px;
}



table.dataTable thead th {
    padding-left: 2px !important;
}

table.dataTable tr td {
    padding-left: 20px !important;
}

table.dataTable[style] {
   width: 100% !important; /* Overrides weirdness of datatables responsive plugin. */
}

.border_left {
    border-left: 1px solid black;
}

.border_right {
    border-right: 1px solid black;
}

.bottom_link {
    float: right;
    font-size: 9px;
    color: lightblue;
}

.description_list .description {
    float: right;
}

ul.description_list {
    list-style-type: none;
    -webkit-columns: 2;
    mozilla-columns: 2;
    columns: 2;
}

.dataTables_extra_button {
    text-align: right;
    float: right;
    font-size: 70%;
    margin-left: 5px;
}


.panel-heading .btn {
    float: right;
    font-size: 70%;
    margin-top: -5px;
}
