body {
  padding-top: 50px;
}

.remove-top { margin-top: 0px; }
.remove-bottom { margin-bottom: 0px; }
.remove-left { margin-left: 0px; }
.remove-right { margin-right: 0px; }

.navbar-brand-name {
    position: relative;
    top: 6px;
}


/* Home */
hr.alert-line {
	border-top: 1px solid #b9b9b9;
}

.alert-icon {
	font-size: 48px;
	color: #b9b9b9;
}

.alert-item h3 {
	margin-top: 0px;
}

.alert-actions a:nth-child(2) {
  margin-left: 15px;
}

.alert-details,
.last-contacted-details {
	color: #b9b9b9;
}

#home_last_contact_list li {
    margin-bottom: 15px;
}



.leaflet-container:-webkit-full-screen {
  display: block;
}

.map, .chart {
    height: 500px;
}

div.selection_choices {
    display: inline-block;
    float:right;
}
div.alone_block {
    margin-top: 20px;
}


/*** DataTable Styles ***/

table.dataTable thead th {
    padding-left: 2px !important;
}

table.dataTable tbody td {
    padding-right: 10px !important;
}

table.dataTable tr td {
    padding-right: 10px !important;
}

table.dataTable[style] {
   width: 100% !important; /* Overrides weirdness of datatables responsive plugin. */
}

table.dataTable tr td i.fa {
  font-size: 30px;
}

.bottom_link {
    float: right;
    font-size: 9px;
    color: lightblue;
}

.description_list .description {
    float: right;
}

ul.description_list {
    list-style-type: none;
    -webkit-columns: 2;
    mozilla-columns: 2;
    columns: 2;
}

.dataTables_extra_button {
    text-align: right;
    float: right;
    font-size: 70%;
    margin-left: 5px;
}

.panel-heading .btn {
    float: right;
    font-size: 70%;
    margin-top: -5px;
}

