<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NutSurv dashboard</title>
    <link rel="icon" href="/static/favicon.ico">
    <script>
        var POST_KEY = "{{POST_KEY}}";
    </script>
</head>
<body>
    <h1>Import CSV file</h1>
    <p>Select a file containing the survey data from Formhub in CSV format below. Import will automatically begin upon file selection.</p>
    <input type="file" id="file_import">
    <div id="import_status"></div>
    <script src="/static/js/importer.js"></script>
</body>
</html>
